*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'krabby-patty';
    src: url(./Krabby\ Patty.ttf);
}

:root {
    font-family: 'krabby-patty';
    --kk-brown: #55442c;
}

header {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    /* background-color: var(--kk-brown); */
    color: #fff;
}

nav {
    display: flex;
    gap: 30px;
}

nav > button {
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    background: none;
    font-size: 2.5rem;
    font-family: 'krabby-patty';
}

body {
    background: url(./assets/krustykrab.png);

}

.wrapper {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 25px;
    gap: 20px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.content {
    font-size: 1.5rem;
    
}

p {
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.menuHeader {
    display: flex;
    justify-content: center;
    gap: 25px;
    border-bottom: 3px solid #fff;
    padding-bottom: 20px;
}